* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** PALETA DE CORES */
/* BRANCO: Snow - #fffafa */
/* PRETO: Night - #111111 */
/* PRIMARIA: Azure - #007fff */


body {
    background-color: #111111;
    color: #fffafa;
}

strong {
    color: #007FFF;
}