* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** PALETA DE CORES */
/* BRANCO: Snow - #fffafa */
/* PRETO: Night - #111111 */
/* PRIMARIA: Azure - #007fff */
/* SECUNDARIA: Silver - #c6c7c4 */
/* TERCIARIA: Indigo Dye - #00416a */

body {
    background-color: #111111;
    color: #fffafa;
}

.titulo-destaque {
    color: #007FFF;
}