/** APRESENTAÇÃO / MAIN */
.apresentacao {
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: var(--size-tit);
    font-family: var(--fonte-primaria);
    line-height: var(--height-tit);
    font-weight: 400;
}

.apresentacao__conteudo__texto {
    font-size: var(--size-text);
    font-family: var(--fonte-secundaria);
    line-height: 36px;
    font-weight: 400;
}

/** APRESENTAÇÃO__DESTAQUES */
.titulo-destaque {
    color: var(--cor-primaria);
    transition: 
        color .2s ease-in-out,
        text-shadow .5s ease-in-out
    ;
}

.texto-destaque {
    transition: 
        color .2s ease-in-out,
        text-shadow .5s ease-in-out
    ;
}

.titulo-destaque:hover, 
.texto-destaque:hover {
    color: var(--cor-primaria);
    text-shadow: 0 5px 10px var(--cor-terciaria);
}

/** APRESENTAÇÃO__LINKS */
.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--size-text);
    line-height: var(--height-subtit);

}

.apresentacao__links__navegacao {
    /* DIMENSÃO */
    width: 50%; /*378px*/
    padding: 16px 0;
    
    /* POSICIONAMENTO */
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    
    /* TEXTO */
    font-size: var(--size-text);
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    line-height: var(--height-text);
    text-decoration: none;
    
    /* BORDA */
    border: 2px solid var(--cor-primaria);
    border-radius: 8px;

    /* TRANSIÇÃO */
    transition: 
        background-color .5s ease-in-out, 
        box-shadow .6s ease-in-out, 
        text-shadow .6s ease-in-out, 
        width .3s ease-in-out
    ;
}

.apresentacao__links__navegacao:hover, 
.apresentacao__links__navegacao:focus {
    background-color: var(--cinza-escuro);
    text-shadow: 0 2px 2px var(--cinza-claro);
    width: 60%;
}

/** APRESENTAÇÃO__IMAGEM */
.apresentacao__imagem {
    width: 50%;
    border-radius: 16px;
    border: 5px double var(--cor-primaria);
    padding: 15px;
    transition: 
        box-shadow .5s ease-in-out,
        height .6s ease-in-out
    ;
}

.apresentacao__imagem:hover {
    box-shadow: 0 0 10px var(--cor-primaria);
}


/*? -------------------------------------------------------------------------------- */


/*! MEDIA QUERY */
@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
    }
}