:root {
    /* CORES */
    --branco: #fffafa;
    --cinza-claro: #585757;
    --cinza-escuro: #262626;
    --preto: #111111;
    --cor-primaria: #007fff;
    --cor-secundaria: #094988;
    --cor-terciaria: #00416a;

    /* FONTES */
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    /* TAMANHOS */
    /* font-size */
    --size-tit: 2.25rem; /* 36px */
    --size-text: 1.5rem; /* 24px */

    /* line-height */
    --height-tit: 3.5rem; /* 56px */
    --height-subtit: 2.5rem; /* 40px */
    --height-text: 2.25rem; /* 36px */
}

body {
    background-color: var(--preto);
    color: var(--branco);
}

.full-underline {
    width: 100%;
    border-bottom: 2px solid var(--branco);
}