/*! MEDIA QUERY */
@media (max-width: 1200px) {
    .cabecalho {
        /* padding: 5% 10%; */
        padding: 5% 2%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
    }

    .apresentacao__conteudo {
        width: 100%;
    }

    .apresentacao__links__navegacao {
        width: 100%;
    }

    .apresentacao__links__navegacao:hover, .apresentacao__links__navegacao:focus {
        width: 100%;
    }

    .apresentacao__imagem {
        width: 80%;
    }
}