.rodape {
    /* TEXTO */
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: var(--size-text);
    line-height: var(--height-text);
    text-align: center;
    
    color: var(--preto);
    
    /* FUNDO */
    padding: 24px 0;
    background-color: var(--cor-primaria);
}